* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.wrapper .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 80%;
  height: 80%;
  margin: auto;
}

.wrapper .main .site {
  width: 10%;
  height: 100%;
  margin: auto 0 auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .site .block {
  width: 70px;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e4e3e3;
  margin: 0 0 auto auto;
}

.wrapper .main .site .block .btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .site .block .btn.info {
  background: #05abdf;
}

.wrapper .main .site .block .btn.help {
  background: #7ab429;
}

.wrapper .main .site .block .btn.back {
  background: #ca442c;
}

.wrapper .main .site .block .btn .ico {
  width: 50%;
  height: 50%;
  margin: auto;
}

.wrapper .main .site .block .btn .ico.info {
  background: url("../ico/d_info.svg") center center/contain no-repeat;
}

.wrapper .main .site .block .btn .ico.help {
  background: url("../ico/d_faq.svg") center center/contain no-repeat;
}

.wrapper .main .site .block .btn .ico.back {
  background: url("../ico/d_back.svg") center center/contain no-repeat;
}

.wrapper .main .nav {
  width: 80%;
  min-height: 100%;
  margin: auto auto auto 10px;
  background: #01a3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.wrapper .main .nav h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .main .nav p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .main .nav .line {
  width: 100%;
  height: 2px;
  background: black;
  margin: 5px 0 5px 0;
}

.wrapper .main .nav form input {
  outline: none;
  padding: 5px;
  color: white;
}

.wrapper .main .nav form button {
  cursor: pointer;
  padding: 5px;
}

.wrapper .main .nav form button:hover {
  background: gold;
  color: black;
  outline: none;
}

.wrapper .main .nav .del {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #05abdf;
}

.wrapper .main .nav .del .item {
  border: solid 1px gray;
  width: 30%;
  height: 100px;
  background: #eff6fb;
  margin: 5px auto;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 9px rgba(255, 255, 255, 0.5);
          box-shadow: 1px 3px 9px rgba(255, 255, 255, 0.5);
  background-size: 62%;
  border-radius: 8px;
}

.wrapper .main .nav .del .item form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.wrapper .main .nav .del .item form:hover {
  opacity: 1;
}

.wrapper .main .nav .del .item form button {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.6em;
}
/*# sourceMappingURL=brand.css.map */