* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .main{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        height: 80%;
        margin: auto;
        .site{
            width: 10%;
            height: 100%;
            margin: auto 0 auto auto;
            display: flex;
            .block{
                width: 70px;
                height: 210px;
                display: flex;
                flex-direction: column;
                background: #e4e3e3;
                margin: 0 0 auto auto;
                .btn{
                    cursor: pointer;
                    width: 60px;
                    height: 60px;
                    margin: auto;
                    display: flex;
                    &.info{
                        background: #05abdf;
                    }
                    &.help{
                        background: #7ab429;
                    }
                    &.back{
                        background: #ca442c;
                    }
                    .ico{
                        width: 50%;
                        height: 50%;
                        margin: auto;
                        &.info{
                            background: url('../ico/d_info.svg') center center / contain no-repeat;
                        }
                        &.help{
                            background: url('../ico/d_faq.svg') center center / contain no-repeat;
                        }
                        &.back{
                            background: url('../ico/d_back.svg') center center / contain no-repeat;
                        }
                    }
                }
            }

        }
        .nav{
            width: 80%;
            min-height: 100%;
            margin: auto auto auto 10px;
            background: #01a3f3;
            display: flex;
            flex-direction: column;
            padding: 5px;
            h1{
                user-select: none;
                
            }
            p{
                user-select: none;
            }
            .alert{
            }
            .line{
                width: 100%;
                height: 2px;
                background: black;
                margin: 5px 0 5px 0;
            }
            form{
                input{
                    outline: none;
                    padding: 5px;
                    color: white;
                }
                button{
                    cursor: pointer;
                    padding: 5px;
                    &:hover{
                        background: gold;
                        color: black;
                        outline: none;
                    }
                }
            }
            .del{
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background: #05abdf;
                .item{
                    border: solid 1px gray;
                    width: 30%;
                    height: 100px;
                    background: #eff6fb;
                    margin: 5px auto;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    box-shadow: 1px 3px 9px rgba(255, 255, 255, 0.5s);
                    background-size: 62%;
                    border-radius: 8px;
                    form{
                        display: flex;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        &:hover{
                            opacity: 1;
                        }
                        button{
                            background: rgba(0, 0, 0, 0.9);
                            width: 100%;
                            height: 100%;
                            color: white;
                            font-size: 1.6em;
                        }
                    }
                }
            }
        }
    }
}