* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    // font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.f_social {
    display: flex;
    flex-direction: column;

    .social_item {
        display: flex;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 10px;

        input[type=checkbox] {
            // display: none;
            width: 60px;
            height: 40px;
            margin-bottom: 0;
            margin-right: 10px;
        }

        .social_ico {
            width: 80px;
            margin-right: 10px;

            &.vk {
                background: url('../ico/social_ico/vk.svg') center center / contain no-repeat;
            }

            &.insta {
                background: url('../ico/social_ico/insta.svg') center center / contain no-repeat;
            }

            &.telega {
                background: url('../ico/social_ico/telega.svg') center center / contain no-repeat;
            }

            &.watsapp {
                background: url('../ico/social_ico/watsapp.svg') center center / contain no-repeat;
            }

            &.viber {
                background: url('../ico/social_ico/viber.svg') center center / contain no-repeat;
            }
        }

        input, button {
            margin-bottom: 0;
        }
        input {
            margin-right: 10px;
        }
        button {
            width: 150px;
        }
    }
}