* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    outline: none;
    list-style: none;
}

input,
textarea,
select {
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 12px;
}

textarea {
    resize: vertical;
    height: 400px;
}

h2 {
    margin-bottom: 10px;
    color: white;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        height: 80%;
        height: 80%;
        margin: 0 auto;

        .site {
            width: 10%;
            height: 100%;
            margin: auto 0 auto auto;
            display: flex;

            .block {
                width: 70px;
                height: 210px;
                display: flex;
                flex-direction: column;
                background: #e4e3e3;
                margin: 0 0 auto auto;

                .btn {
                    cursor: pointer;
                    width: 60px;
                    height: 60px;
                    margin: auto;
                    display: flex;

                    // background: blue;
                    &.info {
                        background: #05abdf;
                    }

                    &.help {
                        background: #7ab429;
                    }

                    &.back {
                        background: #ca442c;
                    }

                    .ico {
                        width: 50%;
                        height: 50%;
                        margin: auto;

                        &.info {
                            background: url('../ico/d_info.svg') center center / contain no-repeat;
                        }

                        &.help {
                            background: url('../ico/d_faq.svg') center center / contain no-repeat;
                        }

                        &.back {
                            background: url('../ico/d_back.svg') center center / contain no-repeat;
                        }
                    }
                }
            }

        }

        .nav {
            width: 80%;
            min-height: 100%;
            margin: auto auto auto 10px;
            background: #01a3f3;
            display: flex;
            flex-direction: column;
            padding: 20px;

            h1 {
                text-align: center;
                color: white;
                margin-bottom: 18px;
            }

            p {
                margin-bottom: 6px;
                color: whitesmoke;
            }

            .alert {
                border: solid 1px red;
            }

            .line {
                width: 100%;
                height: 2px;
                background: black;
                margin: 5px 0 5px 0;
            }

            form {
                input {
                    outline: none;
                    padding: 5px;

                }

                button {
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 5px;

                    &:hover {
                        background: gold;
                        color: black;
                        outline: none;
                    }
                }
            }

            .product_card {
                width: 98%;
                height: 200px;
                background: #eff6fb;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                border-radius: 10px;
                margin: 5px auto auto auto;

                // border: dashed 3px white;
                .card_info {
                    width: 75%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .info {
                        width: 100%;
                        height: 50%;
                        // background: yellow;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;

                        .name,
                        .price {
                            width: 100%;
                            display: flex;
                            flex-direction: column;

                            .text {
                                user-select: none;
                                text-decoration: underline;
                                color: #01a3f3;
                                font-size: 1.15em;
                                font-weight: 900;
                                padding: 5px 5px 0 5px;
                                text-align: center;
                            }

                            input {
                                width: 90%;
                                margin: auto;
                                font-size: 1.5em;
                                outline: none;
                                box-shadow: inset 0 0 3px black;
                                padding: 5px;
                            }
                        }
                    }

                    .btns {
                        width: 100%;
                        height: 50%;
                        // background: green;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;

                        .accept {
                            outline: none;
                            cursor: pointer;
                            width: 45%;
                            height: 50px;
                            background: #7ab429;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            color: white;
                            font-size: 1.05em;
                        }

                        .del {
                            cursor: pointer;
                            width: 45%;
                            height: 50px;
                            background: #ca442c;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            color: white;
                        }
                    }
                }

                .logo {
                    display: flex;
                    width: 25%;
                    height: 100%;

                    // background: yellow;
                    form {
                        display: flex;
                        flex-direction: column;
                        background: #01a3f3;
                        width: 100%;
                        height: 100%;

                        p {
                            text-align: center;
                            color: white;
                            font-weight: 900;
                            font-size: 1.3em;
                        }

                        button {
                            margin: auto auto 5px auto;
                        }

                        .btn_upload {
                            // cursor: pointer;
                            display: flex;
                            width: 100%;
                            height: 100%;
                            background: url(../ico/upload_photo.svg) center center / 50% no-repeat;

                            input {
                                cursor: pointer;
                                margin: auto;
                                opacity: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    &_logo {
                        display: flex;
                        margin: auto;
                        width: 90%;
                        height: 90%;
                        // background: green;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        // background-image: url(../../images/goods/jax.jpg);
                        box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.25);

                        &:hover {
                            .logo_edit {
                                opacity: 1;
                                cursor: pointer;
                            }
                        }

                        .logo_edit {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            // background: rgba(0, 0, 0, 0.75);
                            background: #01a3f3;
                            opacity: 0;

                            .logo_edit_text {
                                display: flex;
                                margin: auto;
                                // min-width: 60%;
                                color: white;
                                text-align: center;
                                padding: 7px;
                                border: solid 1px white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.parametr {
    display: flex;
    margin-bottom: 10px;
}
.parametr p, .parametr input {
    width: 50%;
}

.menu {
    display: flex;
    margin-bottom: 30px;
}

.menu li {
    color: white;
    margin-right: 20px;
}

.menu li a {
    color: white;
    background: #7ab429;
    padding: 10px;
}