@media (max-width: 1000px) {
    .footer__flex-container {
        justify-content: space-around;
    }

    .info__footer {
        justify-content: space-around;
    }

    .header__menu>ul {
        font-size: 26px;
    }

    .price-item__row {
        font-size: 22px;
    }

    .price-item__description-text {
        font-size: 22px;
    } 
}

@media (max-width: 900px) {
    .header__menu {
        display: none;
    }

    .header__menu-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .about__card {
        max-width: 100%;
    }

    .section-type1:before {
        width: 60%;
    }

    .section-type2:before {
        width: 60%;
    }

    .section__text {
        font-size: 22px;
        line-height: 30px;
    }
}